/* Анімація для плавного розгортання */
.answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.answer.open {
    opacity: 1;
    max-height: 500px; /* Ви можете налаштувати це під свій контент */
}
